@font-face {
    font-family: "parry-hotter-regular";
    src: url("../fonts/parry-hotter-regular.ttf");
}

body{
    /*font-family: "parry-hotter-regular";
    color: #aaa;
    background-image: url(../images/hp_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 222px;
    background-position-x: center;*/

}

.header {

    font-family: "parry-hotter-regular";
    text-align:center;
    max-width: 1080px;
    margin-bottom:50px;
}

.hanoi{
    display:table-row;
}

.torre{
    display:table-cell;
    max-width: 100px;
    height: 200px;
    border: 1px dashed #333;
    text-align: center;
    padding-bottom:10px;
}

.disco{
    background: red;
    border:1px solid #ccc;
    width: 100%;
    height: 20px;
    margin: 0 auto;
}

